<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book of Mormon math app</title>
  

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<link href="install/public/stylesheets/style.css" rel="stylesheet">
  
</head>

<div class="image">
    <img src="images/bom.jpg">
<h1>Book of Mormon Math App</h1>
</div> 
<!--end of image-->


<body ng-app="bomRadio">
    
<script src="app.js"></script>

<form name="myForm" ng-controller="bomController">
    
<h2>What Method?</h2>    
  <label>
    <input ng-class"radio" type="radio" ng-model="type" value="Chapters">
    Chapters
  </label><br/>
  <label>
    <input type="radio" ng-model="type" value="Pages">
    Pages
  </label><br/>

<h2>What's your time frame?</h2>
  <label>
    <input type="text" ng-model="days">
    Days
  </label><br/>
  </br>
  
    <button ng-click="competion()">Go</button>
<br/>
 </br>
  You need to read {{daysToCompletion}} {{type}} per day.
 </form>

</body>
</html>

